body {
  background-color: #f5d19c;
}

a {
  color: #f5a52f;
}
.container {
  background-color: #f3f3f3;
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

form {
  padding: 30px;
  border-radius: 10px;
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid #f5dbb4;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: aliceblue;
}

.submit-button {
  margin-left: 10px;
  background: #f5a52f;
  color: #f5a52f;
  border: none;
  width: 150px;
  font-size: 16px;
  padding: 14px 24px;
  border-radius: 50px;
}

.recipe {
  font-size: 14px;
  background-color: aliceblue;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid #f5a52f;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
